body {
	font-family: "Microsoft Yahei";
	height: 100%;
	margin: 0;
	width: 100%;
}
header {
	background: #157873;
	color: white;
	font-size: 200%;
	font-weight: bold;
	letter-spacing: 10px;
	padding: 10px;
	text-align: center;
}
menu {
	border-color: #157873;
	border-right-style: solid;
	border-width: 1px;
	letter-spacing: 2px;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100px;
}
menu div {
	color: #666666;
	cursor: default;
	padding: 5px 0;
}
menu div.selected {
	background: #157873;
	color: white;
}
menu div.divider {
	cursor: pointer;
}
indexer {
	background: #157873;
	border-color: #157873;
	border-style: solid;
	border-left-style: none;
	border-width: 1px;
	cursor: pointer;
	display: inline-block;
	min-width: 100px;
	overflow: hidden;
	text-align: center;
}
indexer span {
	background: white;
	display: inline-block;
	opacity: 0;
	padding: 10px 0px;
	text-align: center;
	transition-property: width, opacity;
	transition-duration: 0.5s;
	width: 0;
}
indexer span#total {
	background: #157873;
	color: white;
	opacity: 1;
	padding-left: 5px;
	padding-right: 5px;
	width: 40px;
}
indexer span#total.expanded {
	background: white;
	color: black;
}
indexer span.selected {
	background: #157873;
	color: white;
	opacity: 1;
	width: 25px;
}
indexer span.expanded {
	opacity: 1;
	width: 25px;
}
indexer span.expanded:hover {
	background: #45A8A3;
}