#controls {
	bottom: 8px;
	font-size: 200%;
	position: absolute;
	left: 266px;
}
div .button {
	height: 50px;
	text-align: center;
	width: 50px;
}
#controls :hover {
	background: blue;
	cursor: default;
}
