body {
	background: black;
	color: white;
	font-family: "Microsoft Yahei UI";
}
#left {
	top: 8px;
	position: fixed;
}
.left {
	width: 250px;
}
li {
	cursor: default;	
}
li ul :hover {
	background: blue;
	cursor: pointer;
}
li .selected {
	border-style: solid;
	border-width: 1px;
}
#label {
	margin-left: 40px;
	margin-top: 8px;
}